################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HomeManagement.WebAPI/.vs/HomeManagement.WebAPI/FileContentIndex/4228e7ea-b521-49ac-b37d-a5d7b00a249e.vsidx
/HomeManagement.Application/bin/Debug/net8.0
/HomeManagement.Application/obj
/HomeManagement.Domain/bin/Debug/net8.0
/HomeManagement.Domain/obj
/HomeManagement.Infrastructure/bin/Debug/net8.0
/HomeManagement.Infrastructure/obj
/HomeManagement.Presentation/obj
/HomeManagement.Presentation/bin/Debug/net8.0
/HomeManagement.WebAPI/bin/Debug/net8.0
/HomeManagement.WebAPI/.vs/HomeManagement.WebAPI/config
/HomeManagement.WebAPI/obj/Debug/net8.0/ref
/HomeManagement.WebAPI/obj/Debug/net8.0/apphost.exe
/HomeManagement.WebAPI/obj/Debug/net8.0/refint
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeMana.AF6A545D.Up2Date
/HomeManagement.WebAPI/obj/Debug/net8.0/staticwebassets
/HomeManagement.WebAPI/.vs/HomeManagement.WebAPI/DesignTimeBuild/.dtbcache.v2
/HomeManagement.WebAPI/.vs/HomeManagement.WebAPI/FileContentIndex/36aeed6f-44d8-44af-9464-af0471cd6c97.vsidx
*.vsidx
/HomeManagement.WebAPI/.vs/HomeManagement.WebAPI/v17/.futdcache.v2
/HomeManagement.WebAPI/.vs/HomeManagement.WebAPI/v17/.suo
/HomeManagement.WebAPI/.vs/ProjectEvaluation/homemanagement.webapi.projects.v7.bin
/HomeManagement.WebAPI/.vs/ProjectEvaluation/homemanagement.webapi.metadata.v7.bin
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.AssemblyInfo.cs
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.AssemblyInfoInputs.cache
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.assets.cache
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.csproj.AssemblyReference.cache
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.csproj.BuildWithSkipAnalyzers
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.csproj.CoreCompileInputs.cache
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.csproj.FileListAbsolute.txt
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.dll
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.genruntimeconfig.cache
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.MvcApplicationPartsAssemblyInfo.cache
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.MvcApplicationPartsAssemblyInfo.cs
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.pdb
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.sourcelink.json
/HomeManagement.WebAPI/obj/Debug/net8.0/staticwebassets.build.json
/HomeManagement.WebAPI/obj/HomeManagement.WebAPI.csproj.EntityFrameworkCore.targets
/HomeManagement.WebAPI/obj/HomeManagement.WebAPI.csproj.nuget.dgspec.json
/HomeManagement.WebAPI/obj/HomeManagement.WebAPI.csproj.nuget.g.props
/HomeManagement.WebAPI/obj/HomeManagement.WebAPI.csproj.nuget.g.targets
/HomeManagement.WebAPI/obj/project.assets.json
/HomeManagement.WebAPI/obj/project.nuget.cache
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.AssemblyInfo.cs
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.AssemblyInfoInputs.cache
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.assets.cache
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.csproj.AssemblyReference.cache
/HomeManagement.WebAPI/obj/HomeManagement.WebAPI.csproj.nuget.dgspec.json
/HomeManagement.WebAPI/obj/HomeManagement.WebAPI.csproj.nuget.g.props
/HomeManagement.WebAPI/obj/HomeManagement.WebAPI.csproj.nuget.g.targets
/HomeManagement.WebAPI/obj/project.assets.json
/HomeManagement.WebAPI/obj/project.nuget.cache
/HomeManagement.WebAPI/.vs/HomeManagement.WebAPI/DesignTimeBuild/.dtbcache.v2
/HomeManagement.WebAPI/.vs/HomeManagement.WebAPI/v17/.suo
/HomeManagement.WebAPI/.vs/HomeManagement.WebAPI/v17/DocumentLayout.json
/HomeManagement.WebAPI/.vs/HomeManagement.WebAPI/v17/.futdcache.v2
/HomeManagement.WebAPI/.vs/ProjectEvaluation/homemanagement.webapi.metadata.v7.bin
/HomeManagement.WebAPI/.vs/ProjectEvaluation/homemanagement.webapi.projects.v7.bin
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.AssemblyInfoInputs.cache
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.AssemblyInfo.cs
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.assets.cache
/HomeManagement.WebAPI/obj/project.nuget.cache
/HomeManagement.WebAPI/obj/project.assets.json
/HomeManagement.WebAPI/Program.cs
/HomeManagement.WebAPI/obj/HomeManagement.WebAPI.csproj.nuget.g.targets
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeManagement.WebAPI.csproj.AssemblyReference.cache
/HomeManagement.WebAPI/Program.cs
/HomeManagement.WebAPI/obj/HomeManagement.WebAPI.csproj.nuget.dgspec.json
/HomeManagement.WebAPI/obj/Debug/net8.0/ApiEndpoints.json
/HomeManagement.WebAPI/obj/HomeManagement.WebAPI.csproj.nuget.g.props
/HomeManagement.WebAPI/appsettings.json
/HomeManagement.WebAPI/.vs/HomeManagement.WebAPI/copilot-chat/48938203/sessions
/obj
