################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HomeManagement.WebAPI/.vs/HomeManagement.WebAPI/FileContentIndex/4228e7ea-b521-49ac-b37d-a5d7b00a249e.vsidx
/HomeManagement.Application/bin/Debug/net8.0
/HomeManagement.Application/obj
/HomeManagement.Domain/bin/Debug/net8.0
/HomeManagement.Domain/obj
/HomeManagement.Infrastructure/bin/Debug/net8.0
/HomeManagement.Infrastructure/obj
/HomeManagement.Presentation/obj
/HomeManagement.Presentation/bin/Debug/net8.0
/HomeManagement.WebAPI/bin/Debug/net8.0
/HomeManagement.WebAPI/.vs/HomeManagement.WebAPI/config
/HomeManagement.WebAPI/obj/Debug/net8.0/ref
/HomeManagement.WebAPI/obj/Debug/net8.0/apphost.exe
/HomeManagement.WebAPI/obj/Debug/net8.0/refint
/HomeManagement.WebAPI/obj/Debug/net8.0/HomeMana.AF6A545D.Up2Date
/HomeManagement.WebAPI/obj/Debug/net8.0/staticwebassets
