################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HomeManagement.WebAPI/.vs/HomeManagement.WebAPI/FileContentIndex/4228e7ea-b521-49ac-b37d-a5d7b00a249e.vsidx
